Repository HazelHilbert/Legislative-Drafting-NLP, pull requests merged in 2024-03, with the labels that each got.

#50 dev-database python file for connecting to the database
  backend/database.py
  backend/database_notes
  backend/requirements.txt
Labels: Backend, Sprint 2

#60 Temp dev
  frontend_nlp_react/src/taskpane/components/SearchPageComponents/SearchPage.jsx
  frontend_nlp_react/src/taskpane/css/Citations.css
  frontend_nlp_react/src/taskpane/css/Search.css
  frontend_nlp_react/src/taskpane/css/Summarize.css
  frontend_nlp_react/src/taskpane/reactPages/Citations.jsx
  frontend_nlp_react/src/taskpane/reactPages/Search.jsx
  frontend_nlp_react/src/taskpane/reactPages/Summarize.jsx
Labels: bug, Frontend, Sprint 2

#68 Dev training
  backend/Training/CreateData.py
  backend/Training/data_sample.jsonl
Labels: Backend, Sprint 3

#75 Changed testing format and added tests
  .github/workflows/python-app.yml
  backend/Example_Legislation/Law1.json
  backend/Example_Legislation/Law2.json
  backend/Example_Legislation/Law3.json
  backend/Example_Legislation/Law4.json
  backend/app.py
  backend/bills/1234567_decoded.html
  backend/bills/1254828_decoded.html
  backend/database.py
  backend/free_nlp_api_on_example.py
  backend/requirements.txt
  backend/tests.py
  tests/api_test.py
  tests/example_test.py
  tests/testFiles/dummyTest.txt
  tests/testFiles/test1.txt
Labels: bug, Backend, Sprint 4
