Repository HazelHilbert/Legislative-Drafting-NLP, pull requests merged in 2024-02, with the labels that each got.

#31 Dev nlp backend integration
  .gitignore
  backend/app.py
  backend/free_nlp_api_on_example.py
  requirements.txt
Labels: Backend, Sprint 1, NLP Team

#35 Added features to Citations Taskpane, fixed Search Taskpane error
  frontend_nlp/src/citations/citations.css
  frontend_nlp/src/citations/citations.html
  frontend_nlp/src/citations/citations.js
  frontend_nlp/src/search/search.js
Labels: bug, Frontend, Sprint 2

#39 Document create
  backend/app.py
  frontend_nlp/package-lock.json
  frontend_nlp/package.json
  frontend_nlp/src/search/search.html
  frontend_nlp/src/search/search.js
  frontend_nlp/src/taskpane/taskpane.js
  requirements.txt
Labels: enhancement, Frontend, Sprint 2

#49 Docker Working (Ralf and Hazel)
  README.md
  backend/.dockerignore
  backend/Dockerfile.backend
  backend/free_nlp_api_on_example.py
  backend/requirements.txt
  docker-compose.yml
  frontend_nlp_react/Dockerfile.frontend
Labels: enhancement, Sprint 2
