Repository HazelHilbert/Legislative-Drafting-NLP, pull requests merged in 2024-04, with the labels that each got.

#92 Chaining
  backend/APITools.py
  backend/app.py
  backend/bills/1596397_decoded.html
  backend/free_nlp_api_on_example.py
  backend/legislative_nlp_langchain.py
  backend/load_json_and_parse.py
  backend/plot.py
  backend/prompt.py
  backend/regex.py
  backend/requirements.txt
  backend/simple_chaining.py
  backend/summ.txt
  backend/summarize.py
  backend/wordDocs/1234567.docx
  backend/wordDocs/~$234567.docx
Labels: enhancement, NLP Team, Sprint 4

#96 Dev frontend citations
  frontend_nlp_react/src/taskpane/reactPages/Analyze.jsx
  frontend_nlp_react/src/taskpane/reactPages/Citations.jsx
Labels: Frontend

#101 Showcase dev
  backend/Training/CreateData.py
  backend/app.py
  frontend_nlp_react/src/taskpane/components/SearchPageComponents/ResultItem.jsx
  frontend_nlp_react/src/taskpane/components/SearchPageComponents/SearchPage.jsx
  frontend_nlp_react/src/taskpane/components/SearchPageComponents/SearchPageConsts.jsx
Labels: bug, enhancement, Sprint 4
